* text=auto

*.tf       text eol=lf
*.tfvars   text eol=lf
*.hcl      text eol=lf
*.py       text eol=lf
*.sh       text eol=lf
Dockerfile text eol=lf
*.yml      text eol=lf
*.yaml     text eol=lf
*.md       text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.pdf  binary
*.docx binary
*.xlsx binary
